.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px; /* Aap ise apni marzi se adjust kar sakte hain */
    background-color: #f5f5f5;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.welcome-container h1 {
    color: #3f51b5; /* Angular Material ka primary color */
    font-size: 2.5em;
    margin-bottom: 10px;
}

.welcome-container p {
    color: #666;
    font-size: 1.2em;
}